body {
    
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,9,121,0.711922268907563) 0%, rgba(0,212,255,1) 100%);
    font-family: 'Arvo', serif;
    scroll-behavior: smooth;
    
}



p{
    text-align:center;

    
}

a{
    text-decoration: none;
    color:purple;
}

/*//nav bar settings//*/
#navbar{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:#23252f;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index:10;

}

.nav-list{
    display:flex;
    margin-right:2em;
    padding:0;
    
    
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 1rem;
    text-decoration: none;
    color:white;
}
ul{
    list-style:none;
    padding:0;
    font-size:1.8rem;
    font-weight:400;
    line-height:.05;
    text-decoration:none;
    display:list-item;
    
}






/*//Keep text to the left of the screen and space out the sentences by a slight margin//*/
#welcome-section{
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,9,121,0.711922268907563) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh; 
    font-size:23px;
    padding:20px;
}

/*//About section styling//*/

#about{
    background-color:#23252f;
}
.name{
    color:#080808;
}

.plan{
    font-size:30px;
    font-family: 'Arvo', serif;
}


.stackDev{
    color:#050505;
    
}

.fade {
   
    opacity: 1;
  }

#about h1{
    font-size:36px;
    text-align: center;
}
.bio{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}


.bio p{
    font-size: 20px;
    color:white;
    max-width:450px;
}

.header h1 {
    font-size:36px;
    text-align:center;
}

.languages{
    display:flex;
    justify-content: space-evenly;
}
.languages{
    display:flex;
    justify-content: space-around;
    padding-bottom:20px;
}

/*//Project styling//*/

#jsproject{
    display:flex;
    justify-content: space-evenly;
}

.card.img{
    min-height:150px;
}



#projects{
    display:flex;
    justify-content:center;
    justify-content: space-evenly;
    background-color:#23252f;
   
}

.projectHeading{
    background-color:#23252f;
    padding:20px;
    color:white;
    font-size:40px;
    border-bottom:4px solid white;
    text-align:Center;
}




.projectImg:hover{
    
    
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 16px rgba(183, 28, 227, 1);;
    position: relative;

}

/*Websites Section*/

#websites{
    background-color:#23252f;
}

.container{
    
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;
    }

    .container .imageCard {
        
        background: rgba(255, 255, 255, 0.05);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        
        backdrop-filter: blur(10px);
    }


.container p{
color:white;
font-size:48px;
}

.imageCard{
    padding-top:10px;
    position: relative;
	width: 475px;
	height: auto;
	overflow: hidden;
   
}

.imageCard:hover{
    
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 16px rgba(183, 28, 227, 1);;
        position: relative;
    
}

    




/*//start of contacts section//*/
.contact-details{
    font-size:2.4rem;
    text-shadow: 2px 2px 1px 
}
.btn{
    display:inline-block;
    padding: 1rem 2rem;
    border-radius:2px;
    text-decoration:none;
    color:white;

}

.fab{
    font-family: "font Awesome 5 Brands";
    color:white;
}






#contact{
    text-align:center;
    background:#23252f;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    color:white;
    
}



/*end of contacts section*/






/*//WEBSITES SECTION//*/
.header h1{
    font-size:36px;
    text-align:center;
    color:white;
    border-bottom:4px solid white; 
    
}






/*//SLIDE IN ANIMATION//*/
.slidein{
    animation-name:slidein;
    animation-duration:1s;
}

/*// KEYFRAMES //*/
@keyframes slidein {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }

  /*for Mobile Phones*/

  @media (max-width: 480px){

    .nav{
        
        display:inline-flex;
    }

    #welcome-section{
        margin-top:80px !important;
        width:100%;
    }

    .languages{
        display:inline-block;
        margin-left:40px;
    }

    .card{
        display:flex;
    }

